body{
	background: #777;
}
.login{
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	
}
.login-header{
	background: #456;
	color: #fff;
	text-align: center;
	padding:14px;
	font-weight: normal;
	margin: 0;
	
}
form{
	background: #ebebeb;
	padding: 15px;
	
}
form p{
	padding: 10px;
	margin: 0;
}
form input{
	width: 100%;
	display: block;
	border-style:solid;
	border-width: 1px;
	padding: 10px;
	box-sizing: border-box;
	
}
.submit{
	background: #456;
	color: #fff;
	font-size: .95em;
	cursor:pointer;
	padding: 10px;
	border-width: 1px;
	width: 100%;
}
.sumit:focus{
	background: #000;

	
}